<div>
  <h2 id="page-heading" data-cy="FieldTestPaginationEntityHeading">
    <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.home.title">Field Test Pagination Entities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-field-test-pagination-entity"
        [routerLink]="['/field-test-pagination-entity/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.home.createLabel"
          >Create a new Field Test Pagination Entity</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (fieldTestPaginationEntities().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.home.notFound">No Field Test Pagination Entities found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="stringAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.stringAlice">String Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="stringRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.stringRequiredAlice">String Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="stringMinlengthAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.stringMinlengthAlice">String Minlength Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="stringMaxlengthAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.stringMaxlengthAlice">String Maxlength Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="stringPatternAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.stringPatternAlice">String Pattern Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="integerAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.integerAlice">Integer Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="integerRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.integerRequiredAlice">Integer Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="integerMinAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.integerMinAlice">Integer Min Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="integerMaxAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.integerMaxAlice">Integer Max Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="longAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.longAlice">Long Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="longRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.longRequiredAlice">Long Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="longMinAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.longMinAlice">Long Min Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="longMaxAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.longMaxAlice">Long Max Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="floatAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.floatAlice">Float Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="floatRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.floatRequiredAlice">Float Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="floatMinAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.floatMinAlice">Float Min Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="floatMaxAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.floatMaxAlice">Float Max Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="doubleRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.doubleRequiredAlice">Double Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="doubleMinAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.doubleMinAlice">Double Min Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="doubleMaxAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.doubleMaxAlice">Double Max Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="bigDecimalRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.bigDecimalRequiredAlice"
                  >Big Decimal Required Alice</span
                >

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="bigDecimalMinAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.bigDecimalMinAlice">Big Decimal Min Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="bigDecimalMaxAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.bigDecimalMaxAlice">Big Decimal Max Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="localDateAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.localDateAlice">Local Date Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="localDateRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.localDateRequiredAlice">Local Date Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="instantAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.instantAlice">Instant Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="instanteRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.instanteRequiredAlice">Instante Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="zonedDateTimeAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.zonedDateTimeAlice">Zoned Date Time Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="zonedDateTimeRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.zonedDateTimeRequiredAlice"
                  >Zoned Date Time Required Alice</span
                >

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="localTimeAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.localTimeAlice">Local Time Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="localTimeRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.localTimeRequiredAlice">Local Time Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="durationAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.durationAlice">Duration Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="durationRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.durationRequiredAlice">Duration Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="booleanAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.booleanAlice">Boolean Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="booleanRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.booleanRequiredAlice">Boolean Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="enumAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.enumAlice">Enum Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="enumRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.enumRequiredAlice">Enum Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="uuidAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.uuidAlice">Uuid Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="uuidRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.uuidRequiredAlice">Uuid Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="byteImageAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.byteImageAlice">Byte Image Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="byteImageRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.byteImageRequiredAlice">Byte Image Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="byteImageMinbytesAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.byteImageMinbytesAlice">Byte Image Minbytes Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="byteImageMaxbytesAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.byteImageMaxbytesAlice">Byte Image Maxbytes Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="byteAnyAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.byteAnyAlice">Byte Any Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="byteAnyRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.byteAnyRequiredAlice">Byte Any Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="byteAnyMinbytesAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.byteAnyMinbytesAlice">Byte Any Minbytes Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="byteAnyMaxbytesAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.byteAnyMaxbytesAlice">Byte Any Maxbytes Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="byteTextAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.byteTextAlice">Byte Text Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="byteTextRequiredAlice">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.fieldTestPaginationEntity.byteTextRequiredAlice">Byte Text Required Alice</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (fieldTestPaginationEntity of fieldTestPaginationEntities(); track trackId(fieldTestPaginationEntity)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/field-test-pagination-entity', fieldTestPaginationEntity.id, 'view']">{{
                  fieldTestPaginationEntity.id
                }}</a>
              </td>
              <td>{{ fieldTestPaginationEntity.stringAlice }}</td>
              <td>{{ fieldTestPaginationEntity.stringRequiredAlice }}</td>
              <td>{{ fieldTestPaginationEntity.stringMinlengthAlice }}</td>
              <td>{{ fieldTestPaginationEntity.stringMaxlengthAlice }}</td>
              <td>{{ fieldTestPaginationEntity.stringPatternAlice }}</td>
              <td>{{ fieldTestPaginationEntity.integerAlice }}</td>
              <td>{{ fieldTestPaginationEntity.integerRequiredAlice }}</td>
              <td>{{ fieldTestPaginationEntity.integerMinAlice }}</td>
              <td>{{ fieldTestPaginationEntity.integerMaxAlice }}</td>
              <td>{{ fieldTestPaginationEntity.longAlice }}</td>
              <td>{{ fieldTestPaginationEntity.longRequiredAlice }}</td>
              <td>{{ fieldTestPaginationEntity.longMinAlice }}</td>
              <td>{{ fieldTestPaginationEntity.longMaxAlice }}</td>
              <td>{{ fieldTestPaginationEntity.floatAlice }}</td>
              <td>{{ fieldTestPaginationEntity.floatRequiredAlice }}</td>
              <td>{{ fieldTestPaginationEntity.floatMinAlice }}</td>
              <td>{{ fieldTestPaginationEntity.floatMaxAlice }}</td>
              <td>{{ fieldTestPaginationEntity.doubleRequiredAlice }}</td>
              <td>{{ fieldTestPaginationEntity.doubleMinAlice }}</td>
              <td>{{ fieldTestPaginationEntity.doubleMaxAlice }}</td>
              <td>{{ fieldTestPaginationEntity.bigDecimalRequiredAlice }}</td>
              <td>{{ fieldTestPaginationEntity.bigDecimalMinAlice }}</td>
              <td>{{ fieldTestPaginationEntity.bigDecimalMaxAlice }}</td>
              <td>{{ fieldTestPaginationEntity.localDateAlice | formatMediumDate }}</td>
              <td>{{ fieldTestPaginationEntity.localDateRequiredAlice | formatMediumDate }}</td>
              <td>{{ fieldTestPaginationEntity.instantAlice | formatMediumDatetime }}</td>
              <td>{{ fieldTestPaginationEntity.instanteRequiredAlice | formatMediumDatetime }}</td>
              <td>{{ fieldTestPaginationEntity.zonedDateTimeAlice | formatMediumDatetime }}</td>
              <td>{{ fieldTestPaginationEntity.zonedDateTimeRequiredAlice | formatMediumDatetime }}</td>
              <td>{{ fieldTestPaginationEntity.localTimeAlice }}</td>
              <td>{{ fieldTestPaginationEntity.localTimeRequiredAlice }}</td>
              <td title="{{ fieldTestPaginationEntity.durationAlice }}">{{ fieldTestPaginationEntity.durationAlice | duration }}</td>
              <td title="{{ fieldTestPaginationEntity.durationRequiredAlice }}">
                {{ fieldTestPaginationEntity.durationRequiredAlice | duration }}
              </td>
              <td>{{ fieldTestPaginationEntity.booleanAlice }}</td>
              <td>{{ fieldTestPaginationEntity.booleanRequiredAlice }}</td>
              <td [jhiTranslate]="'sampleWebfluxPsqlApp.EnumFieldClass.' + (fieldTestPaginationEntity.enumAlice ?? 'null')">
                {{
                  { null: '', ENUM_VALUE_1: 'ENUM_VALUE_1', ENUM_VALUE_2: 'ENUM_VALUE_2', ENUM_VALUE_3: 'ENUM_VALUE_3' }[
                    fieldTestPaginationEntity.enumAlice ?? 'null'
                  ]
                }}
              </td>
              <td [jhiTranslate]="'sampleWebfluxPsqlApp.EnumRequiredFieldClass.' + (fieldTestPaginationEntity.enumRequiredAlice ?? 'null')">
                {{
                  { null: '', ENUM_VALUE_1: 'ENUM_VALUE_1', ENUM_VALUE_2: 'ENUM_VALUE_2', ENUM_VALUE_3: 'ENUM_VALUE_3' }[
                    fieldTestPaginationEntity.enumRequiredAlice ?? 'null'
                  ]
                }}
              </td>
              <td>{{ fieldTestPaginationEntity.uuidAlice }}</td>
              <td>{{ fieldTestPaginationEntity.uuidRequiredAlice }}</td>
              <td>
                @if (fieldTestPaginationEntity.byteImageAlice) {
                  <a (click)="openFile(fieldTestPaginationEntity.byteImageAlice, fieldTestPaginationEntity.byteImageAliceContentType)">
                    <img
                      [src]="
                        'data:' +
                        fieldTestPaginationEntity.byteImageAliceContentType +
                        ';base64,' +
                        fieldTestPaginationEntity.byteImageAlice
                      "
                      style="max-height: 30px"
                      alt="fieldTestPaginationEntity"
                    />
                  </a>
                  <span
                    >{{ fieldTestPaginationEntity.byteImageAliceContentType }},
                    {{ byteSize(fieldTestPaginationEntity.byteImageAlice) }}</span
                  >
                }
              </td>
              <td>
                @if (fieldTestPaginationEntity.byteImageRequiredAlice) {
                  <a
                    (click)="
                      openFile(
                        fieldTestPaginationEntity.byteImageRequiredAlice,
                        fieldTestPaginationEntity.byteImageRequiredAliceContentType
                      )
                    "
                  >
                    <img
                      [src]="
                        'data:' +
                        fieldTestPaginationEntity.byteImageRequiredAliceContentType +
                        ';base64,' +
                        fieldTestPaginationEntity.byteImageRequiredAlice
                      "
                      style="max-height: 30px"
                      alt="fieldTestPaginationEntity"
                    />
                  </a>
                  <span
                    >{{ fieldTestPaginationEntity.byteImageRequiredAliceContentType }},
                    {{ byteSize(fieldTestPaginationEntity.byteImageRequiredAlice) }}</span
                  >
                }
              </td>
              <td>
                @if (fieldTestPaginationEntity.byteImageMinbytesAlice) {
                  <a
                    (click)="
                      openFile(
                        fieldTestPaginationEntity.byteImageMinbytesAlice,
                        fieldTestPaginationEntity.byteImageMinbytesAliceContentType
                      )
                    "
                  >
                    <img
                      [src]="
                        'data:' +
                        fieldTestPaginationEntity.byteImageMinbytesAliceContentType +
                        ';base64,' +
                        fieldTestPaginationEntity.byteImageMinbytesAlice
                      "
                      style="max-height: 30px"
                      alt="fieldTestPaginationEntity"
                    />
                  </a>
                  <span
                    >{{ fieldTestPaginationEntity.byteImageMinbytesAliceContentType }},
                    {{ byteSize(fieldTestPaginationEntity.byteImageMinbytesAlice) }}</span
                  >
                }
              </td>
              <td>
                @if (fieldTestPaginationEntity.byteImageMaxbytesAlice) {
                  <a
                    (click)="
                      openFile(
                        fieldTestPaginationEntity.byteImageMaxbytesAlice,
                        fieldTestPaginationEntity.byteImageMaxbytesAliceContentType
                      )
                    "
                  >
                    <img
                      [src]="
                        'data:' +
                        fieldTestPaginationEntity.byteImageMaxbytesAliceContentType +
                        ';base64,' +
                        fieldTestPaginationEntity.byteImageMaxbytesAlice
                      "
                      style="max-height: 30px"
                      alt="fieldTestPaginationEntity"
                    />
                  </a>
                  <span
                    >{{ fieldTestPaginationEntity.byteImageMaxbytesAliceContentType }},
                    {{ byteSize(fieldTestPaginationEntity.byteImageMaxbytesAlice) }}</span
                  >
                }
              </td>
              <td>
                @if (fieldTestPaginationEntity.byteAnyAlice) {
                  <a
                    (click)="openFile(fieldTestPaginationEntity.byteAnyAlice, fieldTestPaginationEntity.byteAnyAliceContentType)"
                    jhiTranslate="entity.action.open"
                    >Open</a
                  >
                  <span
                    >{{ fieldTestPaginationEntity.byteAnyAliceContentType }}, {{ byteSize(fieldTestPaginationEntity.byteAnyAlice) }}</span
                  >
                }
              </td>
              <td>
                @if (fieldTestPaginationEntity.byteAnyRequiredAlice) {
                  <a
                    (click)="
                      openFile(fieldTestPaginationEntity.byteAnyRequiredAlice, fieldTestPaginationEntity.byteAnyRequiredAliceContentType)
                    "
                    jhiTranslate="entity.action.open"
                    >Open</a
                  >
                  <span
                    >{{ fieldTestPaginationEntity.byteAnyRequiredAliceContentType }},
                    {{ byteSize(fieldTestPaginationEntity.byteAnyRequiredAlice) }}</span
                  >
                }
              </td>
              <td>
                @if (fieldTestPaginationEntity.byteAnyMinbytesAlice) {
                  <a
                    (click)="
                      openFile(fieldTestPaginationEntity.byteAnyMinbytesAlice, fieldTestPaginationEntity.byteAnyMinbytesAliceContentType)
                    "
                    jhiTranslate="entity.action.open"
                    >Open</a
                  >
                  <span
                    >{{ fieldTestPaginationEntity.byteAnyMinbytesAliceContentType }},
                    {{ byteSize(fieldTestPaginationEntity.byteAnyMinbytesAlice) }}</span
                  >
                }
              </td>
              <td>
                @if (fieldTestPaginationEntity.byteAnyMaxbytesAlice) {
                  <a
                    (click)="
                      openFile(fieldTestPaginationEntity.byteAnyMaxbytesAlice, fieldTestPaginationEntity.byteAnyMaxbytesAliceContentType)
                    "
                    jhiTranslate="entity.action.open"
                    >Open</a
                  >
                  <span
                    >{{ fieldTestPaginationEntity.byteAnyMaxbytesAliceContentType }},
                    {{ byteSize(fieldTestPaginationEntity.byteAnyMaxbytesAlice) }}</span
                  >
                }
              </td>
              <td>{{ fieldTestPaginationEntity.byteTextAlice }}</td>
              <td>{{ fieldTestPaginationEntity.byteTextRequiredAlice }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/field-test-pagination-entity', fieldTestPaginationEntity.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/field-test-pagination-entity', fieldTestPaginationEntity.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(fieldTestPaginationEntity)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (fieldTestPaginationEntities().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
