<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (customPackageChild(); as customPackageChildRef) {
      <div>
        <h2 data-cy="customPackageChildDetailsHeading">
          <span jhiTranslate="jhipsterApp.customPackageChild.detail.title">Custom Package Child</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ customPackageChildRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.customPackageChild.childName">Child Name</span></dt>
          <dd>
            <span>{{ customPackageChildRef.childName }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.customPackageChild.user">User</span></dt>
          <dd>
            <span>{{ customPackageChildRef.user?.id }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.customPackageChild.customPackageParent">Custom Package Parent</span></dt>
          <dd>
            @if (customPackageChild()!.customPackageParent) {
              <div>
                <a [routerLink]="['/custom-package-parent', customPackageChild()!.customPackageParent?.id, 'view']">{{
                  customPackageChildRef.customPackageParent?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/custom-package-child', customPackageChildRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
