<div>
  <h2 id="page-heading" data-cy="EntityWithDTOHeading">
    <span jhiTranslate="sampleWebfluxPsqlApp.entityWithDTO.home.title">Entity With DTOS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="sampleWebfluxPsqlApp.entityWithDTO.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-entity-with-dto"
        [routerLink]="['/entity-with-dto/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="sampleWebfluxPsqlApp.entityWithDTO.home.createLabel">Create a new Entity With DTO</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (entityWithDTOS().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="sampleWebfluxPsqlApp.entityWithDTO.home.notFound">No Entity With DTOS found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="emma">
              <div class="d-flex">
                <span jhiTranslate="sampleWebfluxPsqlApp.entityWithDTO.emma">Emma</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (entityWithDTO of entityWithDTOS(); track trackId(entityWithDTO)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/entity-with-dto', entityWithDTO.id, 'view']">{{ entityWithDTO.id }}</a>
              </td>
              <td>{{ entityWithDTO.emma }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/entity-with-dto', entityWithDTO.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/entity-with-dto', entityWithDTO.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(entityWithDTO)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
